In [1]:
#Contents
# Combining Data - Merging Data - Exporting Data in Pickle Format

In [18]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## Import Orders Data Set

In [19]:
#import orders.csv data set

In [48]:
df_ords_clean = pd.read_csv(r'/Users/malikpressley/Desktop/Achievement 4/Instacart Basket Analysis/02 Data/Prepared Data/orders_checked.csv', index_col = False)

In [60]:
#check the output
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,2398795,1,prior,2,3,7,15.0
1,2,473747,1,prior,3,3,12,21.0
2,3,2254736,1,prior,4,4,7,29.0
3,4,431534,1,prior,5,4,15,28.0
4,5,3367565,1,prior,6,2,7,19.0

In [65]:
#confirm total size
df_ords_clean.shape

(3214874, 8)

## Import Order Products Prior Data Set

In [55]:
#import order_products__prior.csv data set as df_ords_prior

In [56]:
df_ords_prior = pd.read_csv('/Users/malikpressley/Desktop/Achievement 4/Instacart Basket Analysis/02 Data/Original Data/order_products__prior.csv', index_col=False)

In [59]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [63]:
#confirm total size
df_ords_prior.shape

(32434489, 4)

## Merge Datasets

In [66]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [67]:
#check the output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [70]:
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

# Task 4.6

## Question 2

In [ ]:
#Export the merged file in pickle format as “orders_products_combined.pkl”.

In [71]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# Question 3

In [75]:
# import the orders_products_combined dataframe from the pickle file you just saved.

In [73]:
# Load pickled file into a DataFrame
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Question 4

In [76]:
# Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [74]:
orders_products_combined.shape

(30356421, 12)