## Part 1

### Question 3 - Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#import the customer.csv dataframe
path = '/Users/malikpressley/Desktop/Achievement 4/Instacart Basket Analysis'

In [3]:
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
df_customer

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

### Question 4 - Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [5]:
#renaming surnam column

In [6]:
df_customer.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [7]:
#renaming n_dependants column

In [8]:
df_customer.rename(columns = {'n_dependants' : 'number_of_dependents'}, inplace = True)

In [9]:
#renaming fam_status column

In [10]:
df_customer.rename(columns = {'fam_status' : 'family_status'}, inplace = True)

In [11]:
#renaming STATE column

In [12]:
df_customer.rename(columns = {'STATE' : 'State'}, inplace = True)

In [13]:
df_customer

,user_id,First Name,Surname,Gender,State,Age,date_joined,number_of_dependents,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

### Question 5 - Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [14]:
#check for missing values

In [15]:
df_customer.isnull().sum()

user_id                     0
First Name              11259
Surname                     0
Gender                      0
State                       0
Age                         0
date_joined                 0
number_of_dependents        0
family_status               0
income                      0
dtype: int64

In [16]:
df_customer['First Name'].value_counts(dropna = False)

NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: First Name, Length: 208, dtype: int64

### I will leave the missing values

In [17]:
# check for duplicates

In [18]:
df_customer.duplicated().sum()

0

In [19]:
#check variables data type

In [20]:
#change user_id to string

In [21]:
df_customer['user_id'] = df_customer['user_id'].astype('str')

In [22]:
#change date_joined to datetime datatype

In [23]:
df_customer['date_joined'] = pd.to_datetime(df_customer['date_joined'])

In [24]:
#check for mixed-data type columns

In [25]:
for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

First Name

In [26]:
df_customer['First Name'].dtype

dtype('O')

### Question 6 - Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [27]:
#import df_prods_merge dataset

In [28]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_prods_merge.pkl'))

In [29]:
df_ords_prods_merge.head(4)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_product_price,customer_income,median_days_since_prior_order,frequent_customer
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,Mid-range product,Most orders,Regularly busy,Most orders,32,Regular customer,6.769286,Low spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,Mid-range product,Average orders,Regularly busy,Average orders,32,Regular customer,6.769286,Low spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,Mid-range product,Average orders,Busiest days,Average orders,5,New customer,8.071613,Low spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,Mid-range product,Average orders,Least busy,Average orders,3,New customer,4.864103,Low spender,9.0,Frequent customer

In [30]:
df_ords_prods_merge['user_id'].dtype

dtype('int64')

In [31]:
df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('str')

In [32]:
df_customer['user_id'] = df_customer['user_id'].astype('str')

In [33]:
df_ords_prods_merge['user_id'].dtype

dtype('O')

In [34]:
df_customer['user_id'].dtype

dtype('O')

In [36]:
df_customer_ords_merged = df_customer.merge(df_ords_prods_merge, on ='user_id')

In [37]:
# Export file

In [41]:
df_customer_ords_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_customer_ords_merged.pkl'))