In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#import orders_products_combined dataframe

In [3]:
path = '/Users/malikpressley/Desktop/Achievement 4/Instacart Basket Analysis'

## Question 3

In [4]:
# import the orders_products_combined dataframe from the pickle file you just saved.

In [5]:
# Load pickled file into a DataFrame
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Question 4

In [6]:
# Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [7]:
orders_products_combined.shape

(30356421, 12)

In [8]:
#check the output
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

## Question 5

In [9]:
#Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [10]:
#import products_checked.csv dataframe

In [11]:
df_prods_clean = pd.read_csv(r'/Users/malikpressley/Desktop/Achievement 4/Instacart Basket Analysis/02 Data/Prepared Data/products_checked.csv', index_col = False)

In [12]:
#check the output
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
#confirm total size
df_prods_clean.shape

(49672, 6)

In [14]:
#combine using the df.merge() command

df_merged = df_prods_clean.merge(orders_products_combined, on ='product_id')

## Question 6

In [15]:
#confirm the results of the merge using the merge flag

In [16]:
#check the output
df_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,16,1,7,26.0,7,0,both

In [17]:
df_merged['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

## Question 7

In [18]:
# Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [22]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl')

SyntaxError: unexpected EOF while parsing (1139562738.py, line 1)